*{
  margin: 0;
  padding: 0;
}
.header{
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  height: 6rem;
  width: 98.2%;
  justify-content: space-between;
}
.logo{
  height: 5rem;
  width: 5rem;
  margin: 0;
  padding: 10px;
  /* position: absolute; */
}
.header .logo img{
  height: 6rem;
  width: 6rem;  
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -8;
  
}
.header .navitems ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.navitems ul li{
  list-style: none;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 4rem;
}
body .Body{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.Body .searchbar{
  margin-left: 20px;
}
.card{
  /* height: 230px; */
  width: 220px;
  /* border: 1px solid black; */
  border-radius: 4px;
  padding: 0px 5px;
  margin: 10px 10px;
  background-color:rgb(132, 150, 156);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:small;
  border: 1px solid transparent;
  transition: all 300ms;
}
.card:hover{
  border: 1px solid rgb(10, 43, 230);
  scale: 1.005;
  cursor: pointer;
}
.cards:active{
  scale: 0.95;

}
#Card_image{
  width: 100%;
  height: 140px;
  object-fit: contain;
  margin: 0px;
}
.res_cards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0px;
}
.shcards{
  width: 220px;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 10px 10px;
  background-color: #535252;
}
.shimmer_cont{
  display: flex;
  flex-wrap: wrap;
}
.log_btn{
  padding: 8px 30px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid rgb(235, 235, 216);
  background-color: #686864;
  color: rgb(8, 8, 8);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.log_btn:hover{
  scale: 1.05;
}
.navitems{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filters{
  display: flex;
  flex-direction:row;
  gap: 30px;
}
.user{
  /* height: 50px; */
  /* width: 50px; */
  border: 1px solid black;
  /* width: auto; */
}
.Userclass{
  border: 1px solid black;
}